
<div data-ng-hide="!authentication.isAuth">

	<div class="container">
		<div class="page-header text-center">
			<h1>{{device.name}}</h1>
			<h2>details</h2>


		</div>

		<h4>Secret key: {{device.secretKey}}</h4>
		<h4>Connection state: {{device.connectionState}}</h4>
		<h4>Actual device state: {{device.actualState ? device.actualState : 'Empty'}}</h4>
		<h4>Last ping: {{device.lastPing}}</h4>
		<hr />

		<div class="row"></div>
		<div class="col-sm-6">
			<h3>States history:</h3>

		</div>

		<div class="col-sm-6">
			<h3>Data history:</h3>


		</div>


	</div>
</div>